<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/static/navbar/navbar.css">

  <link rel="stylesheet" href="/static/profile/profile.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
  .start-100 {
    left: 97% !important;
}
#prof:hover{
  background-color: rgb(94, 173, 94) !important;
}
</style>
</head>


<body style="overflow-x: hidden;padding-bottom: 50px;">

   <!-- navbar start -->
{{template "navbar/navbar.gohtml" .}}
<!-- navbar ends -->  

<hr>
<div>
  
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <h2 class="text-center font-monospace fw-bold pe-5">User Profile</h2>
    <a href="/user/edit_profile" class="btn btn-warning me-md-2" type="button">Edit Profile</a>
    <a href="/user_logout" class="btn btn-danger me-3" type="button">Logout</a>
  </div>
  </div>
    <hr>
    
       <div class="ps-5 ms-5 pt-2" id="propicarea">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-3">
              <form id="form" method="post" accept="/user/profile/profilepic">
                <div class="card">
                  <!-- <img src="https://avatoon.me/wp-content/uploads/2021/09/Cartoon-Pic-Ideas-for-DP-Profile-01.png" class="card-img-top" alt="..."> -->
                
                  
                  <img id="imagediv" src="/public/profile/{{.pic}}" class="card-img-top" alt="..." style="max-height: 246px; min-height: 246px;">
                  <input name="pfpic" type="file" id="propic" hidden>  
                  <label id="labelpic" for="propic" class="text-bg-secondary text-center text-white" id="prof">Choose Profile Picture <i class="fa-solid fa-camera"></i></label>
                  <button id="propicbutton" type="submit" class="btn btn-sm btn-warning btn-outline-dark" >Upload after choosing pic</button>
                  </form>
                  <div id="notif" class="text-danger d-flex justify-content-center fw-bold"></div>
                  <div class="card-body">
                      <h5 class="card-title text-center fw-bold">{{.username}} {{.lastname}}</h5>
                      <hr>
                      <p class="card-text text-center">Self Taught Developer</p>
                      <p class="card-text text-center">Email:{{.email}}</p>
                      <p class="card-text text-center">Contact Mob:{{.mobile}}</p>
                      <a href="/user/profile/wallet" class="btn btn-sm btn-primary d-flex justify-content-center fw-bold">Wallet Rs : {{.bal}}</a>
                      <a href="/user/order_history" class="btn btn-sm btn-warning d-flex justify-content-center">Order History</a>
                    </div>
                  </div>
            </div>
            <div class="col-9 col-md-9 col-lg-9 pe-5">
                <div class="card">
                    <div class="card-header">
                     Details
                    </div>
                    <div class="card-body">
                      <div class="row">
                      <div class="col-6 col-md-6">
                      <h5 class="card-title text-bg-primary">Your Address</h5>
                      <p class="card-text"><strong class="font-monospace">Your First Name</strong> : {{.username}}</p>
                      <p class="card-text"><strong class="font-monospace">Your Last Name</strong> : {{.lastname}}</p>
                      <p class="card-text"><strong class="font-monospace">Your Email</strong> : {{.email}}</p>
                      <p class="card-text"><strong class="font-monospace">Your Mobile No</strong> : {{.mobile}}</p>
                      </div>
                      <div class="col-6 col-md-6">
                        <h5 class="card-title">*** **** ****</h5>
                        <p class="card-text"><strong class="font-monospace">Occupation</strong> : Developer</p>
                        <p class="card-text"><strong class="font-monospace">Salary</strong> : 9-12 LPA</p>
                        <p class="card-text"><strong class="font-monospace">Experience</strong> : Fresher</p>
                        <p class="card-text"><strong class="font-monospace">Self Taught developer</strong></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                      <div class="col-6 col-md-6">{{$info:= .address}}
                      <p class="card-title text-bg-warning">Personal Information</p>
                      <p class="card-text"><strong class="font-monospace">House Name</strong> :{{$info.Housename}}  </p>
                      <p class="card-text"><strong class="font-monospace">Place</strong> :{{$info.Place}}  </p>
                      <p class="card-text"><strong class="font-monospace">State</strong> :{{$info.State}}  </p>
                      
                    </div>
                      <div class="col-6 col-md-6">
                      <p class="card-text"><strong class="font-monospace">PIN</strong> :{{$info.PIN}}  </p>
                      <p class="card-text"><strong class="font-monospace">Connect through Mobile</strong> : +91{{.mobile}} </p>
                      <p class="card-text"><strong class="font-monospace">Contact me via Email</strong> :{{.email}} </p>
                    </div>
                  </div>
                    </div>
                    <hr style="height:3px;border-width:0;background-color:rgb(61, 11, 224)">
                    <hr style="height:3px;border-width:0;background-color:rgb(0, 0, 0)">
                    
                  </div>
                  <hr>
            </div>
        </div>
        <hr>
        <div class="row">
    
            <div class="col-4 col-md-4 col-lg-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
            </div>
    
    
            <div class="col-4 col-md-4 col-lg-4">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white fw-bold">
                      Rooms Log
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">See your past checkings and details</h5>
                      <p class="card-text">R4Rooms provides the best environment to make the life enjoyable</p>
                      <a href="/user/checkings" class="btn btn-warning btn-outline-danger text-white fw-bold">See Checkings</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>
    
            <div class="col-4 col-md-4 col-lg-4 pe-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A second list item
                      <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A third list item
                      <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        A third list item
                        <span class="badge bg-primary rounded-pill">1</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        A third list item
                        <span class="badge bg-primary rounded-pill">1</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        A third list item
                        <span class="badge bg-primary rounded-pill">1</span>
                      </li>
                  </ul>
            </div>
    
        </div>
    
       </div>

       <script>
       $("#form").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

let formdata = new FormData(this);
//var form = $(this);
var actionUrl = '/user/profile/profilepic'
const div = document.getElementById("notif")

$.ajax({
    type: 'POST',
    url: actionUrl,
   // data: form.serialize(), // serializes the form's elements.
   data:formdata, 
   success: function(k) {
 
      if (k == "nil"){
        // setTimeout(() => { }, 2000);
          document.getElementById("notif").innerHTML="Choose a valid Picture"
         
      }else if(k == "updated"){
        document.getElementById("notif").innerHTML="Pic Updated"
         
        setTimeout(() => {
            div.style.visibility = "hidden";
            location.href='/user/profile'
          }, 1000);

      }else if (k == "added"){
        document.getElementById("notif").innerHTML="Pic Added"
        setTimeout(() => {
            div.style.visibility = "hidden";
            location.href='/user/profile'

          }, 1000);
      }
       
   
    },
    cache:false,
    contentType: false,
    processData: false
});

});

         </script>
    </body>
    </html>