body{
    background-image: url(https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=1380&t=st=1659331660~exp=1659332260~hmac=7e5b39fabb69ec84de25f1c2a03150968b262e0d278e327b419bfcd60e5b75cb) !important;
    background-size: cover;
    overflow-x: hidden;
}