<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="/static/navbar/navbar.css">
  <link rel="stylesheet" href="/static/cart/cart.css">
  <script src="/static/cart/cart.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<style>
  .start-100 {
    left: 97% !important;
}
</style>
</head>

<body style="overflow-x: hidden;">

 <!-- navbar start -->
 {{template "navbar/navbar.gohtml" .}}
 <!-- navbar ends -->

<div id="userids" class="visually-hidden">{{.userid}}</div>
 <hr>

   {{if .total}}
   <table class="table table-info table-hover table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Room ID</th>
        <th scope="col">Room</th>
        
        <th scope="col">Original Price/day</th>
        <th scope="col">Total days</th>
        <th scope="col">Total After Offers</th>
      </tr>
    </thead>
    <tbody>
      {{range .cart}}
      <tr>
        <th scope="row">{{.Cartsroomid}}</th>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/public/{{.Cover}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{.Room_Name}}</h5>
                  <p class="card-text">3 Bedroom 2 Bathroom 1 Hall Balcony with breezing wind</p>
                  <p class="card-text">Category:{{.Category}}</p>
                  <p class="card-text"><small class="text-muted">Available at kochi</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="v text-muted" style="font-size: 13px;">  <i class="fa-solid fa-wallet" style="color: rgb(250, 71, 6);"></i> Deduct From Wallet in Payment Gateway<br><br></div>
          <button type="button" class="btn btn-danger" onclick="removecartitem('{{.Cartsid}}')">Remove Item</button>
         
            <button type="button" onclick="proceedtocheckout('{{.Cartsroomid}}','{{.Total}}','{{.Startdate}}','{{.Endate}}')" class="btn btn-outline-success btn-warning w-50">Proceed to Checkout</button>
         
        </td>
      
        <td><s class="text-danger">Rs {{.Room_Price}} /-</s><br>
        Rs {{.Discountprice}} /-</td>
        <td><div style="font-size: smaller;">{{.Startdate}}</div>-to-<div id="endate" style="font-size: smaller;">{{.Endate}}</div><br> = {{.Days}} Days</td>
        <td><br>Rs {{.Total}} /-</td>

      
      </tr>
     
     {{end}}
    </tbody>
  </table>
 
  <!-- <div class="text-center">
    <button type="button" onclick="proceedtocheckout('{{.total}}','{{.userid}}')" class="btn btn-outline-success btn-warning w-75" style="font-size: 2rem;">Proceed to Checkout</button>
  </div> -->

  <div class="row">
    <div class="col-7 col-md-8 col-lg-8">
    <h2 class="text-center">Total </h2>
    </div>
    <div class="col-5 col-md-4 col-lg-4 ">
     <h3 class="text-danger text-center">Rs {{.total}} /-</h3>
     
    </div>
   
  </div>
  {{else}}
  <h2 class="text-center">Nothing in Cart</h2>
  {{end}}

<hr>
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
      <div class="row">
    
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 theaddresscart">
          <div class="row">
            <div class="col-md-3 mycartdivisthis jcc">
          <p class="mycartwriting fw-semibold" style="font-size: 1.5rem;">My Cart</p>

            </div>

            <div class="col-md-7 jcc">
              Deliver to -
            </div>
            <div class="col-md-2 jcc">
              <button class="btn btn-light  btn-outline-primary changebutton  btn-sm ">change</button>
            </div>
          </div>
        
        </div>

{{range .cart}}
        <div class="col-md-12 theitempart">
          <div class="row">
            <div class="col-md-3 ">
            <img src="/public/{{.Cover}}" class="mt-1 mb-1" alt="" style="max-width: 10rem;min-height: 10rem;">  
            </div>
            <div class="col-md-7">
              <p class="cartroomname fw-semibold" style="font-size: large;">{{.Room_Name}}</p>
            <p class="categoryareaisthis text-muted">Category : {{.Category}}</p>
            <small>{{.Description}}</small><br>
            <p style="display: inline;">
              <s class="text-muted" style="font-size: small;">Rs {{.Room_Price}}</s>
              <p class="cartpriceofitem">Rs {{.Discountprice}} /-</p>
              <p class="fw-bold text-success"><i class="fa-solid fa-tags"></i> Offer Available</p>
            </p>
            
            </div>
            <div class="col-md-2">
              <p class="fw-bold">Date</p>
              <p style="font-size: small;">{{.Startdate}} to {{.Endate}}({{.Days}} days)</p>
            <button type="button" onclick="proceedtocheckout('{{.Cartsroomid}}','{{.Total}}','{{.Startdate}}','{{.Endate}}')" class="btn btn-outline-dark btn-primary btn-sm text-white border-0">Checkout</button>
            &nbsp; &nbsp;&nbsp; <i class="fa-solid fa-trash thecartdeleteicon" onclick="removecartitem('{{.Cartsid}}')" ></i>
            </div>
          </div>
        </div> 
{{end}}


      </div>
    </div>

    <div class="col-md-3 ms-3 theitempart1">
      <div class="row">
        <div class="col-md12 theitempart pricedetailshead jcc">PRICE DETAILS</div>
        <div class="col-md12">1</div>
      </div>
      
    </div>

   
         





  </div>
</div>
  </div>





</div>

</body>

</html>