<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="/static/navbar/navbar.css">
  <link rel="stylesheet" href="/static/cart/cart.css">
 <link rel="stylesheet" href="/static/footer/footer.css">
  <script src="/static/cart/cart.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<style>
  .start-100 {
    left: 97% !important;
}
</style>
</head>

<body style="overflow-x: hidden;">

 <!-- navbar start -->
 {{template "navbar/navbar.gohtml" .}}
 <!-- navbar ends -->

<div id="userids" class="visually-hidden">{{.userid}}</div>
 <hr>

  
<hr>
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
      <div class="row">
    
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 theaddresscart">
          <div class="row">
            <div class="col-md-3 mycartdivisthis jcc">
          <p class="mycartwriting fw-semibold" style="font-size: 1.5rem;">My Cart({{.cartcount}})</p>

            </div>

            <div class="col-md-7 jcc mycartplacewriting">
              Deliver to: <p class="fw-bold">&nbsp;{{.place}}-{{.pin}}</p> 
            </div>
            <div class="col-md-2 jcc">
              <button class="btn btn-light  btn-outline-primary changebutton  btn-sm" disabled>change</button>
            </div>
          </div>
        
        </div>

{{range .cart}}
        <div class="col-md-12 mb-2 theitempart">
          <div class="row">
            <div class="col-md-3">
            <img src="/public/{{.Cover}}" class="mt-1 mb-1 roomscover" alt="" style="max-width: 10rem;min-height: 10rem;">  
            </div>
            <div class="col-md-5 theroomdetailwritings">
              <p class="cartroomname fw-semibold" style="font-size: large;">{{.Room_Name}}</p>
            <p class="categoryareaisthis text-muted">Category : {{.Category}}</p>
            <small>{{.Description}}</small><br>
            <p style="display: inline;">
              <s class="text-muted" style="font-size: small;">Rs {{.Room_Price}}</s>
              <p class="cartpriceofitem">Rs {{.Discountprice}} /-</p>
              <p class="fw-bold text-success"><i class="fa-solid fa-tags"></i> Offer Available</p>
            </p>
            
            </div>
            <div class="col-md-4">
              <p class="fw-bold">Date</p>
              <p style="font-size: small;">{{.Startdate}} to {{.Endate}}({{.Days}} days)</p>
            <button type="button" onclick="proceedtocheckout('{{.Cartsroomid}}','{{.Total}}','{{.Startdate}}','{{.Endate}}')" class="btn btn-outline-dark btn-primary btn-sm text-white border-0">Checkout</button>
            &nbsp; &nbsp;&nbsp; <i class="fa-solid fa-trash thecartdeleteicon" onclick="removecartitem('{{.Cartsid}}')" ></i>
            </div>
          </div>
        </div> 
{{end}}


      </div>
    </div>

    <div class="col-md-3 ms-3 theitempart1">
      <div class="row">
        <div class="col-md12 theitempart pricedetailshead jcc">PRICE DETAILS</div>
        <div class="col-md12 pricecountinright">
          <div class="row">
            <div class="col-md-8">
          Price({{.cartcount}}) Items

            </div>
            <div class="col-md-4">
              <i class="fa-solid fa-indian-rupee-sign"></i> {{.total}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <p class="fw-bold text-success"><i class="fa-solid fa-tags"></i> Offer Available</p>
          

            </div>
            <div class="col-md-4">
              <p class="text-success">Applied!</p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-8">
              <p class="text-black">Miscellenous Expenses</p>
            </div>
            <div class="col-md-4">
              <p class="text-black">
                <i class="fa-solid fa-indian-rupee-sign"></i> 0.00
              </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-8">
              Office Expense
            </div>
            <div class="col-md-4">
              
                <i class="fa-solid fa-indian-rupee-sign"></i> 0.00
              
            </div>
          </div>
          <hr>
          <div class="col-md-12 jcc pricecountinright1">
         <p class="pricedetailshead" style="margin-top: -1px;font-size: x-large;">TOTAL</p>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-indian-rupee-sign mt-2 theindianrupee" style="font-size: large;"></i>&nbsp; <p class="fw-bold thetotalpriceincart" style="font-size: x-large;">{{.total}}</p>
          </div>
<hr>
        </div>
      </div>
      
    </div>

   
         





  </div>
</div>
  </div>




  <div class="row mt-5">
    <div class="col-md-12 mt-5 thefoodsection">
      <div class="row" style="background-color: rgb(242, 241, 241);">
        <div class="col-md-12 mb-3 fw-bold" style="font-size: large;">Food Items (<small class="text-secondary" style="font-size: smaller;">Coming Soon..</small>) </div>
     
        <div class="col-md-2 mb-3">
          <div class="row jcc">
            <div class="col-md-12 jcc">
              <img id="thefoodimage" src="https://images.herzindagi.info/image/2021/Sep/chaii-samosa.jpg" class="rounded" alt="" style="max-height:4rem;">
            </div>
            <div id="thefoodimage" class="col-md-12 w-50 bg-danger text-white fw-bold jcc">
              Add Item
            </div>
          </div>
        </div>

        <div class="col-md-2 mb-3">
          <div class="row jcc">
            <div class="col-md-12 jcc">
              <img id="thefoodimage" src="https://www.holidify.com/images/cmsuploads/compressed/indian-1768906_1920_20180322173733.jpg" class="rounded" alt="" style="max-height:4rem;">
            </div>
            <div id="thefoodimage" class="col-md-12 w-50 bg-danger text-white fw-bold jcc">
              Add Item
            </div>
          </div>
        </div>

        <div class="col-md-2 mb-3">
          <div class="row jcc">
            <div class="col-md-12 jcc">
              <img id="thefoodimage" src="https://post.healthline.com/wp-content/uploads/2020/03/adhd-foods-to-avoid_thumb-732x549.jpg" class="rounded" alt="" style="max-height:4rem;">
            </div>
            <div id="thefoodimage" class="col-md-12 w-50 bg-danger text-white fw-bold jcc">
              Add Item
            </div>
          </div>
        </div>

        <div class="col-md-2 mb-3">
          <div class="row jcc">
            <div class="col-md-12 jcc">
              <img id="thefoodimage" src="https://www.mamaxpert.com/media/magefan_blog/Food-Items-To-Avoid-After-Pregnancy.jpg" class="rounded" alt="" style="max-height:4rem;">
            </div>
            <div id="thefoodimage" class="col-md-12 w-50 bg-danger text-white fw-bold jcc">
              Add Item
            </div>
          </div>
        </div>

      
     
      </div>
    </div>
  </div>


</div>

 <!-- footer -->
 {{template "navbar/footer.gohtml" .}}

 <!-- footer ends here -->

</body>

</html>