<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/home/css/home.css">
  <title>R4Rooms | Home</title>
  <link rel="shortcut icon" type="image/jpg" href="https://img.freepik.com/free-vector/botanical-capital-letter-r-vector_53876-127456.jpg?t=st=1656493393~exp=1656493993~hmac=3ebab72a0193cd83e596e9f9737a05bb2c960b3f1aa0284c30c955166027cc26&w=740"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>

  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"/>
  
  <style>
    .start-100 {
      left: 97% !important;
    }
  </style>
</head>

<body>
<div class="w100 text-white topwritings">Welcome To R4Rooms - Your Last Destination For Your Dream Rooms.</div>
  <!-- navbar start -->
{{template "navbar/navbar.gohtml" .}}
<!-- navbar ends -->


  <!-- carousel start -->

  <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="true">
    
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img class="d-block w-100"
          src="https://spa-homepage.uniplaces.com/_next/image?url=https://images.prismic.io/spa-homepage/2e10ca9c-6bc4-41c4-b57a-337e3ab483b7_milan1.jpeg?auto=compress,format&w=1920&q=70"
          alt="First slide" style="height: 80vh;object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-bold">Your Final Destination</h2>
          <p class="fw-bold">Get your first bookings with bundle of offers.</p>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100"
          src="https://spa-homepage.uniplaces.com/_next/image?url=https://images.prismic.io/spa-homepage/e1b2cf49-4a9a-472d-89d1-b6de38874edc_offer_pt_porto_264035_1.jpg?auto=compress,format&w=1920&q=70"
          alt="Second slide" style="height: 80vh;object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-bold">Find and search your room now R4Rooms</h2>
          <p class="fw-bold">Why other place when you have the ultimate option to choose anything you want.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100"
          src="https://spa-homepage.uniplaces.com/_next/image?url=https://images.prismic.io/spa-homepage/bc91d65a-a238-4c11-b8c4-3147e2604f13_offer_pt_porto_252585_5.jpg?auto=compress,format&w=1920&q=70"
          alt="Third slide" style="height: 80vh;object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-bold">The Best Places in the Globe</h2>
          <p class="fw-bold">Find your best place in R4Rooms.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- carousel end -->



<!-- the main div which contains all -->
<div class="mb-3">
<!-- the main div up -->



<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2 class="fw-bold exploreourcities">Explore Our Cities</h2>
    <h5 class="explorecities mb-3">Discover cosy homes, stunning flats to great rooms across the globe.</h5>
  </div>
</div>
</div>

<!-- cards section -->
<div class="container">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="row">
        <div class="col-md-12 trythis">
          <img src="public/home/kerala.jpg" class="img-thumbnail rounded-4" alt="Kerala" style="height: 16rem;width: 15rem;">
        </div>
        <div class="col-md-12 placename">Kerala</div>
        <div class="col-md-12 text-muted">Experience Kerala in over 100+ private rooms, flats and studios for rent today.</div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="row">
        <div class="col-md-12 trythis">
          <img src="public/home/banglore.jpg" class="img-thumbnail rounded-4" alt="Banglore" style="height: 16rem;width: 15rem;">
        </div>
        <div class="col-md-12 placename">Banglore</div>
        <div class="col-md-12 text-muted">Experience Banglore and search for over 2724 properties.</div>

      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="row">
        <div class="col-md-12 trythis">
          <img src="public/home/chennai.jpg" class="img-thumbnail rounded-4" alt="Chennai" style="height: 16rem;width: 15rem;">
        </div>
        <div class="col-md-12 placename">Chennai</div>
        <div class="col-md-12 text-muted">Experience Chennai in over 4420 private rooms, flats and studios for rent today.</div>

      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="row">
        <div class="col-md-12 trythis">
          <img src="public/home/mumbai.jpg" class="img-thumbnail rounded-4" alt="Mumbai" style="height: 16rem;width: 15rem;">
        </div>
        <div class="col-md-12 placename">Mumbai</div>
        <div class="col-md-12 text-muted">Experience Mumbai in over 2835 private rooms, flats and studios for rent today.
          </div>

      </div>
    </div>
   <div class="d-flex justify-content-end mt-2"><a href="#" class="btn btn-primary border-0 text-white btn-sm btn-outline-dark">See More <i class="fa-solid fa-arrow-right"></i></a></div> 
  </div>
</div>
<!-- card section ends here -->


<!-- secon room card section starts here -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bold exploreourcities">Live Where You Love</h2>
      <h5 class="explorecities mb-3">Browse property by its type, Search <div class="dropdown" style="display: inline;">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Choose Place
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Kerala</a></li>
          <li><a class="dropdown-item" href="#">Ahmedhabad</a></li>
          <li><a class="dropdown-item" href="#">Hyderabad</a></li>
        </ul>
      </div> </h5>
    </div>
  </div>
  </div>



  
  
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/second1.jpeg" class="img-thumbnail rounded-4" alt="Kerala" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Well Furnished Rooms</div>
          <div class="col-md-12 text-muted">Experience the Majestic feel of high quality furitures and decorations.</div>
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/second2.jpeg" class="img-thumbnail rounded-4" alt="Banglore" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Cost Friendly</div>
          <div class="col-md-12 text-muted">Why looking for another locations if you have all you need here at low cost.</div>
  
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/second3.jpeg" class="img-thumbnail rounded-4" alt="Chennai" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Kitchens with Appliances</div>
          <div class="col-md-12 text-muted">Tired of old cooking traditions? Try some modern well equiped kitchen appliances at budget.</div>
  
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/second4.jpeg" class="img-thumbnail rounded-4" alt="Mumbai" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Beautiful interior decorations</div>
          <div class="col-md-12 text-muted">Feels like being in a heaven not only because of the designs but also with the comfort.
            </div>
  
        </div>
      </div>
     <div class="d-flex justify-content-end mt-2"><a href="#" class="btn btn-primary border-0 text-white btn-sm btn-outline-dark">See More <i class="fa-solid fa-arrow-right"></i></a></div> 
    </div>
  </div>
<!-- second room card section ends here -->

<!-- third section starts here that is the room ad sectin -->
<div class="row">
  <div class="col-md-12 mt-5">
  <div class="container">

    <h2 class="fw-bold exploreourcities">Offer of a Millenium</h2>
  </div>
  </div>
</div>
<div class="row w-100 mt-2" style="background-color: rgb(2,36,60);">
 <div class="col-md-12 w-100 bg-danger fw-bold text-white d-flex justify-content-center salewriting">Biggest Flat Sale Now Running...</div>
  <div class="col-md-12 mt-3 mb-3 ms-4 me-5">
    <div class="container">
    <div class="card me-5 shadowcard">
      <div class="row">
        <div class="col-4 col-md-5">
          <img src="/public/home/adroom.jpg" alt="" class="img-fluid adimage" style="height: 20rem; width: 24rem;">
        </div>
        <div class="col-8 col-md-7">
          <h3 class="card-title adroom mt-3">Room303 Kolkata</h3>
          <p class="adwriting">Well furnished and full equiped room in kolkata at budget friendly offe ever available. Washing Machine, Refrigerators , Television , Broadband Connection and much more. Offer is available only at a certain period of a month. And EXTRA 20% OFF for whom who book two rooms at a time. Read all the terms and conditions before accepting the offer. So What else are you waiting for , GO check it out</p>
          <h4 class="card-text mt-1 mb-2 adcat">Category : Double Room</h4>
          <h4 class="card-text mb-2 adcat">Location : Kolkata</h4>
          <a href="" class="btn btn-primary btn-outline-info border-0 fw-bold mb-2 adcat">Go Check It Now</a>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
<!-- third section ends here that is the room ad sectin -->


<!-- fourth section starts here -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bold exploreourcities">Match Who You Are</h2>
      <h5 class="explorecities mb-3">Dont sacrifice your nature,we got all.</h5>
    </div>
  </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/students.jpg" class="img-thumbnail rounded-4" alt="Kerala" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Students</div>
          <div class="col-md-12 text-muted">Suitable environment for students who are searching for a place to study as well as to chill out.</div>
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/worker.jpg" class="img-thumbnail rounded-4" alt="Banglore" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Digital Nomads</div>
          <div class="col-md-12 text-muted">Well suitable places for persons who are seeking to work as remote.</div>
  
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/explorers.jpg" class="img-thumbnail rounded-4" alt="Chennai" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Explorers</div>
          <div class="col-md-12 text-muted">Explorers who love to explore the world like a bird.We got you a better place than you imagine.</div>
  
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="row">
          <div class="col-md-12 trythis">
            <img src="/public/home/family.jpg" class="img-thumbnail rounded-4" alt="Mumbai" style="height: 16rem;width: 15rem;">
          </div>
          <div class="col-md-12 placename">Family</div>
          <div class="col-md-12 text-muted">Who else not likely to spend their free time with their favourite ones in this whole world. The best environment we are preparing for you.
            </div>
  
        </div>
      </div>
     <div class="d-flex justify-content-end mt-2"><a href="#" class="btn btn-primary border-0 text-white btn-sm btn-outline-dark">See More <i class="fa-solid fa-arrow-right"></i></a></div> 
    </div>
  </div>
<!-- fourth section ends here -->




<!-- Your recent searches starts here -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bold exploreourcities">Your recent searches</h2>
      <h5 class="explorecities mb-3">Take and look as much as you want to find your dream room...</h5>
    </div>
  </div>
  </div>



  <div style="background-color: rgb(2,36,60);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-3 mt-3">
        <div class="col-6 col-md-3 mb-2 hoverimg1">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
              <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bold">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton1">Check Room Info</a></p>

            </div>
          </div>



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg2">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton2">Check Room Info</a></p>

            </div>
          </div>



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg3">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton3">Check Room Info</a></p>

            </div>
          </div>



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg4">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton4">Check Room Info</a></p>

            </div>
          </div>



        </div>
       
      </div>
    </div>

    <div class="col-md-12">
      <div class="row mb-3">

        <div class="col-6 col-md-3 mb-2 hoverimg5">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton5">Check Room Info</a></p>

            </div>
          </div>
          



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg6">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton6">Check Room Info</a></p>

            </div>
          </div>



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg7">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton7">Check Room Info</a></p>

            </div>
          </div>



        </div>

        <div class="col-6 col-md-3 mb-2 hoverimg8">

          <div class="card bg-dark text-white">
            <img src="/public/home/second1.jpeg" class="card-img" alt="..." height="225rem">
            <div class="card-img-overlay">
               <h5 class="card-title fw-bold">Room 406</h5>
              <p class="card-text fw-bols">Room Category : Single</p>
              <p class="card-text text-muted">Last updated 3 mins ago</p>
              <p class="card-text"> <a href="" class="btn btn-dark btn-outline-primary btn-sm text-white border-0 inbutton8">Check Room Info</a></p>
            </div>
          </div>



        </div>


      </div>
    </div>


  </div>
</div>
</div>

<!-- Your recent searches ends here -->


<!-- the pics section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bold exploreourcities">Discover Some Amazing Spots</h2>
      <h5 class="explorecities mb-3">Join with R4Rooms team discover new and exciting place where we can explore..</h5>
    </div>
  </div>
  </div>


  <div style="background-color: rgb(2,36,60);">
    <div class="container">
      <div class="row">
       

        <div class="col-md-12 pe-5 mt-5 mb-5 ms-5 me-5">
          <div class="row mt-5 mb-5 me-5 pe-5">
            <div class="col-md-3 picone">
              <img src="/public/home/discover/amristar.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone1">
              <img src="/public/home/discover/bada.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone2">
              <img src="/public/home/discover/elora.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone3">
              <img src="/public/home/discover/gateway.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone4">
              <img src="/public/home/discover/goa.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone5">
              <img src="/public/home/discover/holi.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone6">
              <img src="/public/home/discover/taj.jpg" alt="" style="max-width: 20rem;">
            </div>
            <div class="col-md-3 picone7">
              <img src="/public/home/discover/munnar.jpg" alt="" style="max-width: 20rem;">
            </div>
          </div>
        
       </div>
        

      </div>
    </div>
  </div>
<!-- the pics section ends here -->



<!-- the ambassadors section starts from here -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bold exploreourcities">Become a part of R4Rooms</h2>
    </div>
  </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-6 coluone">
        <img src="/public/home/land/girl.jpg" alt="">
      <h2 class="landlord">Become a Landlord</h2>
    <p class="landwriting">List your place and earn money with your extra space.</p> 
  <a href="" class="btn btn-light btn-outline-dark landmore">Learn more</a>  
  </div>
      <div class="col-md-5 colutwo">
        <img src="/public/home/land/girl2.jpg" alt="">
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

<!-- the ambassodors section ends here -->



<!-- the main div ends here --></div>
</body>

</html>