<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoveRoom</title>
    <link rel="stylesheet" href="/static/rooms/removeroom.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="row">
    <div class="col-md-12 mt-4">
    <h1 class="text-white fw-bold d-flex justify-content-center addroomhead"><i class="fa-solid fa-trash"></i> Remove Rooms</h1>

    </div>
  </div>



  <div class="container thetopcont">
    <table class="table table-hover table-light fw-bold">
        <thead>
          <tr>
            
            <th scope="col">Room ID</th>
            <th scope="col">Room Image</th>

            <th scope="col">Room Name</th>
            
            <th scope="col">Room Price</th>
            <th scope="col">Category</th>
           <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
            {{range .allrooms}}
            
          <tr>
            
            <td>{{.ID}}</td>
            <td>
              <img src="/public/{{.Cover}}" alt="" style="max-height: 3rem;">
            </td>

            <td>{{.Room_Name}}</td>
           
            <td>{{.Room_Price}}</td>
            <td>{{.Category}}</td>

            <td>
            <button type="button" class="btn btn-danger" onclick="deleteroom('{{.ID}}')">Delete</button>  <i class="fa-solid fa-trash" style="color: red;"></i>

            </td>
        
          </tr>
          {{end}}
        </tbody>
      </table>
  </div>





       <!-- js,popper from  bootstrap -->
  <script>
  function deleteroom(ID){

    swal({
        title: "Are you sure you want to delete?",
        text: "Once the room is deleted,all data will be erased!.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {


            location.href='/admin/remove_room/delete/'+ID;

            swal("Successfull", "Room Removed Successfully", "success");
         
         } // } else {
        //   swal("Your imaginary file is safe!");
        // }
      });

    }
   
  </script>  
</body>
</html>