<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R4Rooms | SearchRooms</title>
    <link rel="stylesheet" href="/static/navbar/navbar.css">

    <link rel="stylesheet" href="/static/searchpage/css/searchpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <script src="/static/allrooms/allrooms.js"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
   <style>
      .start-100 {
        left: 97% !important;
    }
    </style>
</head>
<body style="overflow-x: hidden;">
    
   
 <!-- navbar start -->
 {{template "navbar/navbar.gohtml" .}}
 <!-- navbar ends -->
  <!-- navbar end -->


  <div class="row mt-1 ms-2">
    <div class="col-md-10">
    <div class="hstack gap-3">
      <a href="/user/all_room_search" class="btn btn-outline-secondary btn-sm"> All Rooms </a>
      <a href="/user/room_search" class="btn btn-outline-secondary btn-sm"> Available Rooms </a>
      <a href="/user/room_booked_search" class="btn btn-sm btn-dark"> Booked Rooms</a>
      
     </div>
    
  
  </div>
  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
       Sort By : Double
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a class="dropdown-item " href="/user/filter/bksingleroom">Single Rooms</a></li>
        <li><a class="dropdown-item " href="/user/filter/bkdoubleroom">Double Rooms</a></li>
        <li><a class="dropdown-item " href="">4 BHK</a></li>
      </ul>
    </div>
  </div>
</div> 
<hr>
   
  








    <!-- search rooms start -->
    
    <div class="row ms-1">
      
      <div class="col-md-3 d-flex justify-content-center">
        <div class="row">
          <div class="col-md-12">
            <h3>Filter</h3> <hr>
          </div>

          <div class="col-md-12">Choose By Date</div>
          <div class="col-md-12">
            Available from<br> <input type="date" value="{{.cdate}}" min="{{.cdate}}" id="sdate" oninput="isavailable()"><br>
          </div>
          <div class="col-md-12">
            Choose By Price
          </div>
          <div class="col-md-12">
            <label for="customRange3" class="form-label">Price range : Rs 7500/-</label>
<input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-secondary btn-outline-dark text-white btn-sm">Above 5k</a>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-secondary btn-outline-dark text-white btn-sm">Above 7k</a>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-secondary btn-outline-dark text-white btn-sm">Below 5k</a>
          </div>
         
          <hr>
        </div>
        
        
      
       
      </div>
      {{template "navbar/card.gohtml" .}}
     
     
          </div>
          
        
           
         
            
<!-- search rooms end -->















  
</body>
</html>