<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Users</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
    <script defer src="/static/adminuc.js"></script>
</head>

<body>

    <!-- Section: Design Block -->







<div class="container">
    <h1>Create User</h1>
    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5 p-3 mb-2 bg-dark text-white">
                <div class="text-danger" style="font-size: 30px;" id="error"></div>

                <form id="form" action="/admin/user_management/addusers" method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <input type="text" name="firstname" id="form3Example1" class="form-control" placeholder="Your Name" />
                                <label class="form-label" for="form3Example1">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <input type="text" name="lastname" id="form3Example2" class="form-control" placeholder="Your Last Name" />
                                <label class="form-label" for="form3Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" name="email" id="form3Example3" class="form-control" placeholder="eg: vj@co.in" />
                        <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="form3Example4" class="form-control" placeholder="Atleast 5 characters" />
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>
                    <!-- Mobile -->
                    <div class="form-outline mb-4">
                        <input type="text" name="phone" id="form3Example5" class="form-control" placeholder="10-Digit Mobile Number"/>
                        <label class="form-label" for="form3Example5">Mobile No</label>
                      </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Add User
                    </button>




                </form>
            </div>
        </div>
    </div>
</div>
   

    

</body>

</html>