<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monthly Sales Report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <!-- <style>
    body {
      background-image: url(https://kiguru.com/wp-content/uploads/2017/05/rsz_ifrsbackground-transparent.png);

    }
  </style> -->
</head>

<body>

    <div class="container mt-5">

        <div class="row">
            <div class="col-md-12">
                <h3>Month Wise Details About Bookings</h3>
            </div>
            <div class="col-md-12 mt-1">



                <p>
                    <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample">
                     January
                    </button> 
              
                    <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
                        February
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
                        March
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample">
                        April
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample">
                        May
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample6" aria-expanded="false" aria-controls="collapseWidthExample">
                        June
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample7" aria-expanded="false" aria-controls="collapseWidthExample">
                        July
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample8" aria-expanded="false" aria-controls="collapseWidthExample">
                        August
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample9" aria-expanded="false" aria-controls="collapseWidthExample">
                        September
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample10" aria-expanded="false" aria-controls="collapseWidthExample">
                        October
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample11" aria-expanded="false" aria-controls="collapseWidthExample">
                        November
                       </button> 

                       <button class="btn btn-sm btn-secondary btn-outline-success rounded-2 text-white mb-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample12" aria-expanded="false" aria-controls="collapseWidthExample">
                        December
                       </button> 
              
              
              
                  </p>
                  
                    <div class="collapse" id="collapseWidthExample1" style="">
                      <div class="card card-body" style="width: 100%;">
                        <h2>January</h2>
                      
                      </div>
                    </div>
                  
              
                  
                  <div class="collapse" id="collapseWidthExample2" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>February</h2>
                      
                    </div>
                  </div>

                  <div class="collapse" id="collapseWidthExample3" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>March</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample4" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>April</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample5" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>May</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample6" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>June</h2>
                      <div class="row">
                        <div class="col-md-6 mb-5">
                          Total Bookings : {{.junecount}}<br>
                          Total Revenue Generated : Rs {{.junetotal}}<br>
                        </div>
                          <div class="col-md-6 mb-5">
                         
                          Target for the month : 10,00,000<br>
                          Total Achieved / Target : {{.juneperc}}%
                          
                        </div>
                      </div>
                     <div class="col-md-12"><h2>Bookings Details</h2></div>
                      <div class="col-md-12 mt-1">

        <table class="table table-bordered border-5 border-dark">
          <thead>
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">House Name</th>
              <th scope="col">Place</th>
              <th scope="col">Room Name</th>
              <th scope="col">Total Price</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Checkin Date</th>
              <th scope="col">Checkout Date</th>

            </tr>
          </thead>
          <tbody class="table-group-divider">
            {{range .junedetails}}
            <tr>
              <th scope="row">{{.Orderid}}</th>
              <td>{{.Firstname}}</td>
              <td>{{.Lastname}}</td>
              <td>{{.Housename}}</td>
              <td>{{.Place}}</td>
              <td>{{.Roomnames}}</td>
              <td>{{.Totalprice}}</td>
              <td>{{.Paymentmethod}}</td>
              <td>{{.Checkindate}}</td>
              <td>{{.Checkoutdate}}</td>
            </tr>
            {{end}}
            <tr>
              <td colspan="6" class="text-danger">TOTAL</td>
              <td class="bg-secondary text-white">Rs {{.junetotal}}</td>
            </tr>
          </tbody>
        </table>

                      </div>


                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample7" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>July</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample8" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>August</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample9" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>September</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample10" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>October</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample11" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>November</h2>
                    </div>
                  </div>
                  <div class="collapse" id="collapseWidthExample12" style="">
                    <div class="card card-body" style="width: 100%;">
                      <h2>December</h2>
                    </div>
                  </div>






            </div>
        </div>




    </div>

</body>
</html>