<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R4Rooms | SearchRooms</title>
    <link rel="stylesheet" href="/static/searchpage/css/searchpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>
   <style>
      .start-100 {
        left: 97% !important;
    }
    </style>
</head>
<body style="overflow-x: hidden;">
    
   
 <!-- navbar start -->
 {{template "navbar/navbar.gohtml" .}}
 <!-- navbar ends -->
  <!-- navbar end -->


    <!-- category -->
  <div class="hstack gap-3">
    <div class="border"><button class="btn btn-info" type="button"> Available Rooms </button></div>
    <a href="/user/room_booked_search" class="border"><button class="btn" type="button"> Booked Rooms</button></a>
    
   </div>
   <hr>









    <!-- search rooms start -->
    
    <div class="row">
      
      
     
      {{range .rooms}}
      <div class="col-4 col-md-4">
        <div class="container pt-5">
          
         
         
              <div class="card mb-3">
                <img src="/public/{{.Cover}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rs <strong>{{.Room_Price}}</strong> /-</h5>
                  <p class="card-text">{{.Room_Name}}</p>
                  <p class="card-text">1 Bedroom 2 Bathroom 1 Hall</p>
                  <a href="/user/room_info/{{.ID}}" class="btn btn-primary">Check-In Now</a>
                  <p class="card-text"><small class="text-muted bg-warning">{{.Status}}</small></p>
                </div>
                
              </div>
            
              
            </div>
            </div>
            {{end}}
          </div>
          
        
           
         
            
<!-- search rooms end -->















  
</body>
</html>