<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddRoom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1>add room</h1>

    <div class="container">
    <form class="row g-3" method="post" action="/admin/add_room">
        <div class="col-md-6">
          <label for="inputRoom4" class="form-label">Room Name</label>
          <input type="text" name="roomname" class="form-control" id="inputRoom4">
        </div>
        <div class="col-md-6">
          <label for="inputroompath" class="form-label">Room Pic Path</label>
          <input type="text" name="roompicpath" class="form-control" id="inputroompath">
        </div>
        <div class="col-md-6">
            <label for="inputroomprice" class="form-label">Room Price</label>
            <input type="text" name="roomprice" class="form-control" id="inputroomprice">
          </div>
          <div class="col-md-6">
            <label for="inputroomcategory" class="form-label">Room Category</label>
            <input type="text" name="roomcategory" class="form-control" id="inputroomcategory">
          </div>
            
       
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Room</button>
        </div>
      </form>
    </div>












      <!-- js,popper from  bootstrap -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          <!-- ended js,popper from  bootstrap -->
      
</body>
</html>