<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>

    <script defer src="/static/mobile.js"></script>
</head>
<body>




<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
               
               
               
                <form method="post" id="form" action="/login_with_otp">
            
                    <h3 class="mb-5">Sign in</h3>
            
                    <div class="text-danger" style="font-size: medium;" id="error"></div>
            
                    <div class="form-outline mb-4">
                <label class="form-label" for="mobilevalidation">Mobile Number</label>
                <input type="text" name="mobile" id="mobilevalidation" class="form-control form-control-lg" />
                
              </div>
    
              <button class="btn btn-primary btn-lg btn-block" type="submit"> Send OTP</button>
  
              <hr class="my-4">
  
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>
  </html>