<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoveRoom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    

</head>
<body>
    <h1>Remove Room</h1>

    <table class="table table-hover table-dark">
        <thead>
          <tr>
            
            <th scope="col">Room ID</th>

            <th scope="col">Room Name</th>
            <th scope="col">Room Pic Path</th>
            <th scope="col">Room Price</th>
            <th scope="col">Category</th>
           <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
            {{range .allrooms}}
            
          <tr>
            
            <td>{{.ID}}</td>
            <td>{{.Room_Name}}</td>
            <td>{{if .Room_Photo_Path}}{{.Room_Photo_Path}}{{else}}No Path Provided{{end}}</td>
            <td>{{.Room_Price}}</td>
            <td>{{.Category}}</td>

            <td>
                <button type="button" class="btn btn-danger"><a href="/admin/remove_room/delete/{{.ID}}" style="text-decoration: none;color: white;">Delete</a></button>

            </td>
        
          </tr>
          {{end}}
        </tbody>
      </table>






       <!-- js,popper from  bootstrap -->
    
</body>
</html>