<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R4Rooms | SearchRooms</title>
    <link rel="stylesheet" href="/static/searchpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
   

    <!-- navbar start -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: rgb(0, 0, 0) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/R4Rooms.png" width="130" height="45" alt="LOGO">
          </a>
        </div>
        <div class="container">
        <form class="form-inline my-2 my-lg-0" method="post">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Your Location..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
  
        <div class="navbar nav-item dropdown">
          <button class="btn text-white dropdown-toggle bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EN
          </button>
          <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-warning" href="#">French</a>
            <a class="dropdown-item text-warning" href="#">Hindi</a>
            <a class="dropdown-item text-warning" href="#">Arab</a>
          </div>
        </div>
      
  
  
        <button type="button" class="btn btn-sm btn-outline-warning text-white"><a href="/user_signup" class="navbar nav-item text-white" style="text-decoration: none;">SignUp</a></button> 

        <button type="button" class="btn btn-sm btn-outline-info text-white" style="margin-left: 1%;"><a href="/user_login" class="navbar nav-item text-white" style="text-decoration: none;">LogIn</a></button> </a>
        


        
      </nav> 
    <!-- navbar end -->

    <!-- search rooms start -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/searchpage/images/room1.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Rooms</h5>
                      <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/searchpage/images/room2.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Rooms</h5>
                      <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/searchpage/images/room3.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Rooms</h5>
                      <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        
          <div class="w-100 pt-5"></div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room8.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room5.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">Room
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room6.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
            
          <div class="w-100 pt-5"></div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room7.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room8.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/searchpage/images/room9.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rooms</h5>
                  <p class="card-text">Some quick example text to build on the Rooms and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        
        </div>
      </div>
<!-- search rooms end -->















    <!-- js,popper from  bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- ended js,popper from  bootstrap -->

</body>
</html>