<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserManagement</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <h1>user management</h1>
<br>
<h3>All Users List</h3>
    
    <!-- table -->
    <!-- <div class="container"> -->
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            
            <th scope="col">ID</th>

            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Ative Status</th>
            <th scope="col">B/uB/D</th>
            <th scope="col">Edit/Update</th>

        </tr>
        </thead>
        <tbody>
            {{range .data}}
          <tr>
            
            <td>{{.ID}}</td>
            <td>{{.First_Name}}</td>
            <td>{{.Last_Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Block_Status}}</td>
            <td>
                
              <!-- Example single danger button -->
              <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item badge-secondary" href="#">Block</a>
      <a class="dropdown-item badge-secondary" href="#">UnBlock</a>
      <a class="dropdown-item badge-secondary" href="#">Delete</a>
   
  </div>

            </td>

            <td>
                <form action="/admin/user_management/fnupdate/{{.ID}}" method="post">
                    <input type="text" name="updateuserdata" placeholder="First Name">
                    <button type="submit">Update</button>
                   </form>
                    <form action="/admin/user_management/lnupdate/{{.ID}}" method="post">
                        <input type="text" name="updateuserdata" placeholder="Last Name">
                        <button type="submit">Update</button>
                </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <!-- </div> -->

</body>
</html>