

body{
    width: 100%;
    overflow-x: hidden;
}

.searchforroom1{

    margin-top: 3%;
    
}


.trythis{
    transition: transform .2s;
}

.trythis:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.06); 
}