body {
    width: 100%;
    overflow-x: hidden;

}

.searchforroom1 {

    margin-top: 3%;

}


.trythis {
    transition: transform .2s;
}

.trythis:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.06);
}

.exploreourcities {
    font-size: 34px;
    line-height: 38px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.explorecities {
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.placename {
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.topwritings{
    background-color: rgb(38, 34, 34);
    font-family: 'Allerta Stencil';
    letter-spacing: 2px;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 619px) {
    .topwritings {
        background-color: rgb(38, 34, 34);
        font-family: 'Allerta Stencil';
        letter-spacing: 1px;
        font-size: smaller;
        display: flex;
        justify-content: center;
    }
  }

 
  .shadowcard{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 20rem;
}
.adwriting{
    letter-spacing: 1px;
    word-spacing: 2px;
}
  
.adroom{
    font-weight: 700;
    font-family: 'Courier New';
}

@media only screen and (max-width: 1402px) {
    .adwriting {
        font-size: smaller;
    }
}
@media only screen and (max-width: 1200px) {
    .adwriting {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .adimage {
        width: 10rem !important;
    }
    .adcat{
        font-size: medium;
    }
    .addroom{
        font-size: smaller;
    }
}


.adimage {
    transition: transform .2s;
}

.adimage:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
} 

.inbutton1{
    visibility: hidden;
}

.hoverimg1:hover .inbutton1{
    
    visibility: visible !important;
}

.inbutton2{
    visibility: hidden;
}

.hoverimg2:hover .inbutton2{
    
    visibility: visible !important;
}

.inbutton3{
    visibility: hidden;
}

.hoverimg3:hover .inbutton3{
    
    visibility: visible !important;
}

.inbutton4{
    visibility: hidden;
}

.hoverimg4:hover .inbutton4{
    
    visibility: visible !important;
}

.inbutton5{
    visibility: hidden;
}

.hoverimg5:hover .inbutton5{
    
    visibility: visible !important;
}

.inbutton6{
    visibility: hidden;
}

.hoverimg6:hover .inbutton6{
    
    visibility: visible !important;
}

.inbutton7{
    visibility: hidden;
}

.hoverimg7:hover .inbutton7{
    
    visibility: visible !important;
}

.inbutton8{
    visibility: hidden;
}

.hoverimg8:hover .inbutton8{
    
    visibility: visible !important;
}

.picone{
    transition: transform .3s;
}

.picone:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone1{
    transition: transform .3s;
}

.picone1:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone2{
    transition: transform .3s;
}

.picone2:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone3{
    transition: transform .3s;
}

.picone3:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone4{
    transition: transform .3s;
}

.picone4:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone5{
    transition: transform .3s;
}

.picone5:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}


.picone6{
    transition: transform .3s;
}

.picone6:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}


.picone7{
    transition: transform .3s;
}

.picone7:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.picone8{
    transition: transform .3s;
}

.picone8:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}

.coluone{
    position: relative;
}
.colutwo{
    position: relative;
}

.landlord{
    position: absolute;

    top: 6%;
    position: absolute;
    left: 8%;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.landwriting{
    position: absolute;
    color: white;
    top: 14%;
    position: absolute;
    left: 8%;
}

.landmore{
    position: absolute;
    top: 85%;
    position: absolute;
    left: 8%;
}