/* body{

    background-color:#ff52529c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(http://7-themes.com/data_images/out/8/6794212-free-simple-backgrounds.jpg);
} */
body{
 background-image: url(/public/body.jpg);
 background-size: cover;
 overflow-x: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}

.coupon_box{
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); 
    background: linear-gradient(to right, #FF4B2B, #FF416C);
     width: 280px;
     border-radius: 7px;
      padding: 1rem;
      text-align: center;
      color: #fff;
      font-family: 'Tahoma', sans-serif;
      position: relative;
      margin: 5rem auto;
    }
    
    .title{
      color: rgba(255,255,255,0.75);
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 20px
    }
    
    .how_much{font-size: 55px;}
    h3{font-size: 35px}
    
    .how_much,
    h3{text-shadow: 0 0 10px rgba(0,0,0,0.3); text-align: center}
    
    .btn{
      padding: 0.5rem 3rem;
      background: #fff;
      border: none;
      border-radius: 30px;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      font-weight: 600;
      margin-top: 2rem;
      cursor: pointer;
      outline: none;
      transition: 250ms
    }
    .btn:hover{box-shadow: 0 2px 10px rgba(0,0,0,0.25)}
    .body{
      padding-bottom: 3rem;
      border-bottom: 2px dashed rgba(0,0,0,0.2);
      position: relative;
    }
    .body::before{
      content: 'R4R';
      position: absolute;
      color: rgba(255,255,255,0.15);
      top: 0%;
      left: -14%;
      font-size: 150px;
      font-weight: bold;
    }
    
.currcoupon{
  position: relative;
    color: grey;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.currcoupons{
  
    color: rgb(93, 91, 91);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.cs-menu {
  position: absolute;
  top: 35%;
  right:-5%;

}

.cs-menu .item {
  margin: 0 0 0 auto;
  border: 1px solid red;
  width: 40px;
  height: 40px;
  background: #000000;
  transition: width .5s;
 
}

.cs-menu .item:hover {
  width: 100px;
  
}



.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
