<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway | R4Rooms</title>
    <link rel="stylesheet" href="/static/payment/payment.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d67b07a9d9.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="/static/address.js"></script> -->
</head>

<body onload="hidingfunc()">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="exampleModalLabel">SELECT COUPON</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{$cat := .category}}
                    <div class="row">
                        {{range .coupon}}
                        <div class="col-md-6">
                            {{if eq .Category $cat}}
                            <div class="card text-bg-dark mb-3" style="max-width: 21rem; max-height: 12rem;">
                                {{else}}
                                <div class="card text-bg-secondary mb-3" style="max-width: 21rem; max-height: 12rem;">

                                    {{end}}
                                    <div class="card-header text-center">Category:{{.Category}}</div>
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold text-center">{{.Code}}</h5>
                                        <p class="card-text text-center">Discount Value {{.Value}}%</p>
                                        {{if eq .Category $cat}}
                                        <p class="card-text btn btn-sm btn-outline-info d-flex justify-content-center"
                                            onclick="applycoupon('{{.Id}}','{{.Value}}')" data-bs-dismiss="modal"
                                            aria-label="Close">Apply Now</p>
                                        {{else}}
                                        <p class="card-text d-flex justify-content-center">Not Available</p>

                                        {{end}}
                                    </div>
                                </div>


                            </div>
                            {{end}}
                        </div>

                    </div>

                </div>
            </div>
        </div>









        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Choose Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/user/payment/addresspick/{{.total}}/{{.uid}}/{{.roomid}}/{{.startdate}}/{{.endate}}"
                        method="post">
                        <div class="modal-body">

                            {{range .address}} <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioaddress" id="{{.Adrid}}"
                                    value="{{.Adrid}}">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{.Adrid}}-{{.Housename}} || {{.Place}} || {{.Mobile}}
                                </label>
                            </div>
                            <hr>
                            {{end}}
                            <a href="/user/edit_profile" type="button" class="btn btn-primary btn-outline-success">+ Add
                                Address </a>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- modal end -->

        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card p-3">
                        <div class="img-box">
                            <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                        </div>
                        <div class="number">
                            <label class="fw-bold" for="">**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                            <small><span class="fw-bold">Name:</span><span>{{.username}}</span></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card p-3">
                        <div class="img-box">
                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                                alt="">
                        </div>
                        <div class="number">
                            <label class="fw-bold">**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                            <small><span class="fw-bold">Name:</span><span>{{.username}}</span></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card p-3">
                        <div class="img-box">
                            <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                                alt="">
                        </div>
                        <div class="number">
                            <label class="fw-bold">**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                            <small><span class="fw-bold">Name:</span><span>{{.username}}</span></small>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="card p-3">
                        <p class="mb-0 fw-bold h4">Payment Methods</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card p-3">
                        <div class="card-body border p-0">
                            <p>
                                <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                    aria-controls="collapseExample">
                                    <span class="fw-bold">Razor Pay</span>
                                    <span class="fab fa-cc-paypal">
                                    </span>
                                </a>
                            </p>
                            <div class="collapse p-3 pt-0" id="collapseExample">
                                <div class="row">
                                    <div class="col-8">
                                        <p class="h4 mb-0">Summary</p>
                                        <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">
                                                <ul>
                                                    <li>{{.allrooms}}</li>
                                                    <li>Roomid : {{.roomid}}<br><strong>From</strong> {{.startdate}}
                                                        <strong>To</strong> {{.endate}}
                                                    </li>
                                                </ul>
                                            </span></p>
                                        <p>
                                            <input type="checkbox" name="wallet" id="wallet"
                                                onchange="wallet('{{.wbal}}','{{.total}}')">
                                            <button class="btn btn-info btn-outline-success text-white"> <label
                                                    for="wallet" style="color: rgb(255, 255, 255);font-weight: 600;"> <i
                                                        class="fa-solid fa-wallet" style="color: blue;"></i> Deduct from
                                                    wallet Rs {{.wbal}}</label></button>
                                        </p>
                                        <p class="mb-0"><span class="fw-bold">Total Price:</span>
                                            <span>Rs<h3 class="text-danger"><strong id="raztotal">{{.total}}</strong>
                                                </h3>
                                            </span>
                                        </p>
                                        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                            nihil neque
                                            quisquam aut
                                            repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam
                                            ab
                                            quis,
                                            iste harum ipsum hic, nemo qui!</p>
                                    </div>
                                    <button
                                        onclick="payment('{{.total}}','{{.uid}}','{{.startdate}}','{{.endate}}','{{.wbal}}')"
                                        type="button" class="btn btn-warning btn-outline-primary">Pay Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border p-0">
                            <p>
                                <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                    aria-controls="collapseExample">
                                    <span class="fw-bold">Payment At Office</span>
                                    <span class="">
                                        <span class="fab fa-cc-amex"></span>
                                        <span class="fab fa-cc-mastercard"></span>
                                        <span class="fab fa-cc-discover"></span>
                                    </span>
                                </a>
                            </p>
                            <div class="collapse show p-3 pt-0" id="collapseExample">
                                <div class="row">
                                    <div class="col-lg-5 mb-lg-0 mb-3">
                                        <p class="h4 mb-0">Summary</p>
                                        <p class="mb-0"><span class="fw-bold">Items:</span><span class="c-green">:
                                                <ul>
                                                    <li>{{.allrooms}}</li>
                                                    <li>Roomid : {{.roomid}}<br><strong>From</strong> {{.startdate}}
                                                        <strong>To</strong> {{.endate}}
                                                    </li>

                                                </ul>
                                            </span>
                                        </p>
                                        <p>
                                            <input type="checkbox" name="wallets" id="wallets"
                                                onchange="wallets('{{.wbal}}','{{.total}}')">
                                            <button class="btn btn-info btn-outline-success" id="walletbutton"> <label
                                                    for="wallets" style="color: rgb(0, 0, 0);font-weight: 600;"> <i
                                                        class="fa-solid fa-wallet" style="color: blue;"></i> Deduct from
                                                    wallet Rs {{.wbal}}</label></button>
                                        </p>

                                        <p>
                                        <div class="coupon">
                                            <button id="buttons" type="button" class="btn btn-secondary"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                                <input type="checkbox" name="couponstatus" id="couponstatus"> Apply
                                                Coupon
                                            </button>

                                        </div>
                                        <div id="cpn" style="color: green;font-size: small;display: inline;"></div> <i
                                            class="btn btn-outline-danger fa-solid fa-xmark" id="closebutton"
                                            onclick="removecoupon()"></i>

                                        </p>

                                        <p class="mb-0">

                                            <span class="fw-bold">Total Price:</span>
                                            <span>Rs<h3 class="text-danger"><strong id="paototal">{{.total}}</strong>
                                                </h3>
                                            </span>
                                        </p>
                                        <p class="mb-0">Give us your address just for a precaution to avoid future
                                            dilemmas.Thankyou. </p>
                                    </div>
                                    <div class="col-lg-7">

                                        <!-- Button trigger modal -->

                                        <div> <button type="button" class="btn btn-primary bg-info"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Choose Address
                                            </button></div>


                                        <div class="text-danger" style="font-size: 30px;" id="error"></div>

                                        <form id="form" method="POST">
                                            <div class="row pt-3">
                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="firstnamef" type="text" id="firstname"
                                                            class="form-control" placeholder="First Name">
                                                        <label for="" class="form__label">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="lastnamef" type="text" id="lastname"
                                                            class="form-control" placeholder="LastName">
                                                        <label for="" class="form__label">Last Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="housenamef" type="text" class="form-control"
                                                            id="housename" placeholder="Houes Name">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="placef" type="text" class="form-control" id="place"
                                                            placeholder="Place">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="statef" type="text" class="form-control" id="state"
                                                            placeholder="State">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <input name="mobilef" type="text" id="mobile"
                                                            class="form-control" placeholder="10-Digit Mobile ">

                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form__div">
                                                        <label for="totalpriceid">Room ID</label>
                                                        <input name="roomid" type="text" id="totalpriceid"
                                                            class="form-control" value="{{.roomid}}" readonly>
                                                    </div>
                                                </div>




                                                <div class="col-3">
                                                    <div class="form__div">
                                                        <label for="rooms">Rooms</label>
                                                        <input name="roomnames" type="text" id="rooms"
                                                            class="form-control" value="{{.allrooms}}" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form__div">
                                                        <label for="allrooms">AllRooms</label>
                                                        <input name="allroomnames" type="text" id="allrooms"
                                                            class="form-control" value="{{.allrooms}}" readonly>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-12">

                                                <button type="submit"
                                                    onclick="checkinnow('{{.startdate}}','{{.endate}}','{{.wbal}}','{{.total}}')"
                                                    class="btn w-100 btn-outline-primary btn-success text-white"
                                                    style="font-weight: 600;">Check-In Now</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <script>


            function checkinnow(startdate, endate, wallet, total) {

                const firstname = document.getElementById('firstname')
                const lastname = document.getElementById('lastname')
                const housename = document.getElementById('housename')
                const place = document.getElementById('place')
                const state = document.getElementById('state')
                const mobile = document.getElementById('mobile')
                const form = document.getElementById('form')
                const errorElement = document.getElementById('error')

                form.addEventListener('submit', (e) => {
                    let messages = []
                    //first name
                    if (firstname.value === '' || firstname.value == null) {
                        messages.push('Name is required!')
                    } else if (firstname.value.length <= 2) {
                        messages.push('Name must have 3 characters')
                    } else if (!/^[A-Za-z ]+$/.test(firstname.value)) {
                        messages.push('No special characters allowed!')
                    }
                    //last name
                    else if (lastname.value === '' || lastname.value == null) {
                        messages.push('Last Name is required!')
                    }

                    else if (!/^[A-Za-z ]+$/.test(lastname.value)) {
                        messages.push('No special characters allowed!')
                        //house name
                    } else if (housename.value === '' || housename.value == null) {
                        messages.push('Name is required!')
                    } else if (housename.value.length <= 4) {
                        messages.push('House Name must have 5 characters')
                        //place
                    } else if (place.value === '' || place.value == null) {
                        messages.push('Place is required!')
                    } else if (place.value.length <= 2) {
                        messages.push('Place Name must have 3 characters')
                    } else if (!/^[A-Za-z ]+$/.test(place.value)) {
                        messages.push('No special characters allowed!')
                        //state
                    } else if (state.value === '' || state.value == null) {
                        messages.push('State is required!')
                    } else if (state.value.length <= 2) {
                        messages.push('State Name must have 3 characters')
                    } else if (!/^[A-Za-z ]+$/.test(state.value)) {
                        messages.push('No special characters allowed!')
                        //mobile validation
                    } else if (mobile.value.length <= 9 || mobile.value.length >= 11) {
                        messages.push('mobile must/only have 10 digits')
                    } else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(mobile.value)) {
                        messages.push('Enter valid Mobile number!')
                    }

                    if (messages.length > 0) {
                        e.preventDefault()
                        errorElement.innerText = messages.join(', ')
                    } else {
                        e.preventDefault()
                        success(startdate, endate, wallet, total)
                    }

                })
            }

            function success(startdate, endate, wallet, total) {


                swal({
                    title: "Are you sure you want to check-In?",
                    text: "Room cancellation policies are only avilable within 5 hours of booking.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {



                            if ($("#wallets").prop('checked') == true) {

                                const wtotal = total - wallet




                                var data = $('form').serialize();
                                $.post('/user/payment/confirm/' + startdate + '/' + endate + '/' + wallet + '/' + wtotal, data);
                                swal("Check-In Sucessful", "Read our terms and conditions carefully to know about cancellation policies", "success");
                                setTimeout(() => { location.href = "/user/payment/success"; }, 1700);



                            } else if ($("#wallets").prop('checked') == false && $("#couponstatus").prop('checked') == false) {
                                const wall = "0"


                                var data = $('form').serialize();
                                $.post('/user/payment/confirm/' + startdate + '/' + endate + '/' + wall + '/' + total, data);
                                swal("Check-In Sucessful", "Read our terms and conditions carefully to know about cancellation policies", "success");
                                setTimeout(() => { location.href = "/user/payment/success"; }, 1700);


                            } else if ($("#couponstatus").prop('checked') == true) {
                                const ctotal = document.getElementById("paototal").innerHTML

                                const wals = "0"
                                var data = $('form').serialize();
                                $.post('/user/payment/confirm/' + startdate + '/' + endate + '/' + wals + '/' + ctotal, data);
                                swal("Check-In Sucessful", "Read our terms and conditions carefully to know about cancellation policies", "success");
                                setTimeout(() => { location.href = "/user/payment/success"; }, 1700);


                            }


                        }
                    });
            }

            function wallet(bal, total) {

                if ($("#wallet").prop('checked') == true) {

                    const newtotal = total - bal

                    $("#raztotal").text(newtotal)

                } else {
                    $("#raztotal").text(total)


                }

            }

            function payment(total, uid, start, end, bal) {
                // /user/payment/razorpay/{{.total}}/{{.uid}}/{{.startdate}}/{{.endate}}"

                if ($("#wallet").prop('checked') == true) {

                    const wtotal = total - bal
                    location.href = '/user/payment/razorpay/' + wtotal + '/' + uid + '/' + start + '/' + end + '/' + bal;


                } else {
                    const wall = "0"
                    location.href = '/user/payment/razorpay/' + total + '/' + uid + '/' + start + '/' + end + '/' + wall;

                }

            }



            function wallets(bal, total) {
                if ($("#wallets").prop('checked') == true) {
                    const button = document.getElementById("buttons")
                    button.disabled = true
                    const newtotal = total - bal
                    $("#paototal").text(newtotal)


                    document.getElementById("cpn").innerHTML = "You can either choose Wallet Or Coupons!"


                } else {
                    $("#paototal").text(total)
                    const button = document.getElementById("buttons")
                    button.disabled = false
                    document.getElementById("cpn").innerHTML = ""


                }

            }


            function applycoupon(id, value) {


                const total = document.getElementById("paototal").innerText

                const newt = total * (100 - value) / 100
                const rnew = Math.round(newt)
                document.getElementById("paototal").innerHTML = rnew
                document.getElementById("cpn").innerHTML = "Coupon Applied " + value + "%"
                const button = document.getElementById("buttons")
                button.disabled = true

                const wallet = document.getElementById("wallets")
                wallet.disabled = true

                const walletbutt = document.getElementById("walletbutton")
                walletbutt.disabled = true

                const close = document.getElementById("closebutton");
                close.style.visibility = "visible";

                document.getElementById("couponstatus").checked = true;

            }

            function hidingfunc() {

                const close = document.getElementById("closebutton");
                close.style.visibility = "hidden";
            }

            function removecoupon() {
                window.location.reload(true)
            }


           
        </script>
</body>

</html>