<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RazorPay</title>
    <link rel="stylesheet" href="/static/payment/razorpaypage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>
<body>
    {{$home := .home}}
    {{$add := .address}}
    {{$name := .username}}
    {{$email := .email}}
    {{$mobile := .mobile}}
    {{$sdate := .start}}
    {{$edate := .end}}
    {{$wallet := .wallet}}
    {{$roomid := .roomid}}
  

<hr class="text-white">

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">



                        <div class="card therazorcard text-white" style="width: 18rem;">
                            <img src="https://www.fintechfutures.com/files/2021/12/razorpay-logo.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title d-flex justify-content-center">Name : {{.username}}</h5>
                              <p class="card-text">House Name : {{$add.Housename}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item theitemlist text-white">{{$add.Place}},{{$add.State}}</li>
                              <li class="list-group-item theitemlist text-white">{{$add.PIN}}</li>
                              <li class="list-group-item theitemlist text-white">Date: {{$sdate}} to {{$edate}}</li>
                            </ul>
                            <div class="card-body">
    <button class="fw-bold w-100 btn btn-light btn-outline-primary border-0" id="rzp-button1">Pay</button>
                              
                              
                            </div>
                          </div>



                    </div>
                </div>
            </div>
        </div>



    </div>














    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_pOTtQfNqdwqxCR", // Enter the Key ID generated from the Dashboard
    "amount": "{{.total}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "R4Rooms",
    "description": "Payment Gateway Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{$home.OrderId}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){

        let rpid = response.razorpay_payment_id;
        
        let roid = response.razorpay_order_id;
        
        let rsign = response.razorpay_signature; 
        
        location.href='/user/payment/razorypaysuccess/'+rpid+'/'+roid+'/'+rsign+'/'+'{{$sdate}}'+'/'+'{{$edate}}'+'/'+'{{.total}}'+'/'+'{{$wallet}}'+'/'+'{{$roomid}}';
    },
    "prefill": {
        "name": "{{$name}}",
        "email": "{{$email}}",
        "contact": "{{$mobile}}",
        "mobile": "{{$mobile}}",
    },
    "notes": {
        "address": "{{$add.Housename}}{{$add.Place}}"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
</body>
</html>